<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bookjuck.user.CustomerMapper">

    <insert id="insCustomer">
        Insert into customer
            (nm,birth,gender,phoneno,uid,upw,mail,adr)
        values (#{nm},#{birth},${gender},#{phoneno},#{uid},#{upw},#{mail},#{adr})
    </insert>

    <select id="selCustomer" resultType="com.project.bookjuck.user.model.CustomerEntity">
        select *
        from customer
        <where>
            <if test="uid != null and uid !=''">
                uid = #{uid}
            </if>
            <if test="iuser > 0">
                iuser = ${iuser}
            </if>
        </where>
    </select>
</mapper>